//COLORS
//txt
$lighten-txt: white;
// $light-txt: #A49CA9;
$light-txt: darken(#A49CA9, 30%);
$dark-txt: #55328B;
$diverse-txt: #75C288;
$diverse-icon: #33475B;

//Background 
$bg-container: white;
$bg-simple: #F2EEF4;
$bg-visit-ny: #F1F9FB;
$bg-visit-london: #FAF3E3;
//bg CTA
$bg-chevron-slider: #A691B2;
$bg-chevron-footer: #474747;


//DIMENSION
$header-height: 60px;