@use "@fontsource/work-sans";
@use "@fontsource/source-serif-4";

@use "./partials/variables" as *;

// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

//COMMON
html {
    font-size: 100%;
    font-family: "Work Sans", sans-serif;
    // font-family: "Source Serif 4", serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.sr-only {
    display: none;
}

//LAYOUT
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: $bg-container
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

//MARGIN-PADDING
.mt-1 {
    margin-top: 1em;
}

.mt-2 {
    margin-top: 2em;
}

.mt-3 {
    margin-top: 3em;
}

.mt-4 {
    margin-top: 4em;
}

.my-3 {
    margin: 3em 0;
}

.px-2 {
    padding: 0 2em;
}