@use "/node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@use "@fontsource/work-sans";
@use "@fontsource/source-serif-4";

@use "./partials/variables" as *;

@import "node_modules/bootstrap/scss/bootstrap";


// RESET
img {
    max-width: 100%;
}

//COMMON
html {
    font-size: 100%;
    font-family: "Work Sans", sans-serif;
    // font-family: "Source Serif 4", serif;
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

.sr-only {
    display: none;
}

//LAYOUT
.ms_container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: $bg-container;
    position: relative;
}

.ms_wrapper {
    width: 90%;
    margin: 0 auto;
}

//MARGIN-PADDING
.ms_mt-1 {
    margin-top: 1em;
}

.ms_mt-4 {
    margin-top: 4em;
}

//My BTN
.ms_btn-light {
    background-color: white;
    color: $dark-txt;
}

.ms_btn-dark {
    background-color: $dark-txt;
    color: white;
}

.ms_btn-light:hover,
.ms_btn-dark:hover {
    background-color: $bg-chevron-slider;
}

//Typography
.ms_txt-dark {
    color: $dark-txt;
}

.ms_txt-light {
    color: $lighten-txt
}

//Chevron slider
.ms_cta-slider {
    width: 100%;
    cursor: pointer;
    position: absolute;

    >* {
        background-color: $bg-chevron-slider;
        padding: 1em .5em;
        color: white;
    }
}